<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251987962233-2g7fcthpu25gnaqlrica9bo315t4atp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251987962233-2g7fcthpu25gnaqlrica9bo315t4atp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBo5_Zus4-G6O-aBlNi0Joiir5h0upG2AM</string>
	<key>GCM_SENDER_ID</key>
	<string>251987962233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barronwei.idyllic</string>
	<key>PROJECT_ID</key>
	<string>idyllic-i</string>
	<key>STORAGE_BUCKET</key>
	<string>idyllic-i.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251987962233:ios:bf76cec17347972c</string>
	<key>DATABASE_URL</key>
	<string>https://idyllic-i.firebaseio.com</string>
</dict>
</plist>